# В этом файле можно оставлять комментарии
# Имя файла .gitignore
# Файл нужно создать самостоятельно
# Каждая строчка — это шаблон, по которому происходит игнорирование
# Игнорируем директорию в любой директории проекта
node_modules/